@model EventZone.Models.SignInViewModel

<div id="i_signin_section" class="tab-pane fade in active">
@using (Ajax.BeginForm("SigninPost", "Account", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "OnSignInRequestSucceeded",
}, new {id = "SignInForm"}))
{
    @Html.AntiForgeryToken()
    var alertStyle = "";

    if (ViewData.ModelState == null || !ViewData.ModelState.Any(m => m.Value.Errors.Any()))
    {
        alertStyle = "display:none;";
    }
    <div id='alertPanelSignIn'
         class="alert alert-danger"
         style='@alertStyle'>
        @Html.ValidationSummary()
    </div>
    <div class="my_function_cover f_sign_in">
        <div style="padding-top: 30px" class="panel-body">
            <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="UserName" type="text" class="form-control" name="UserName" value="" placeholder="username or email">
                </div>

                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="Password" type="password" class="form-control" name="Password" placeholder="password">
                </div>

                <a data-toggle="modal" href="#myModal3" id="i_quen_mk">
                    Forget password?
                </a>

                <div class="input-group" style="margin-bottom: 35px">
                    <div class="checkbox">
                        <label>
                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                        </label>
                    </div>
                </div>
                <div style="margin-top: 10px" class="form-group">
                    <!-- Button -->
                    <div class="col-sm-12 controls">
                        <button type="submit" id="btn-login" class="btn btn-success">Sign In </button>
                        <a id="btn-fblogin" href="#" class="btn btn-danger">Sign In with Google+</a>
                    </div>
                </div>
        </div>
    </div>
    <!-- bao toàn bộ chức năng SIGN IN -->
}
</div>
<script src="~/Scripts/Account/SignIn.js"></script>

