@model EventZone.Models.EventFollow

@{
    ViewBag.Title = "RegisterSuccess";
}

<h2>RegisterSuccess</h2>
Thank for registering our system! We have sent you an welcome email!
Return home to start looking for events.
