@model EventZone.Models.ForgotViewModel
@{
    ViewBag.Title = "Find lost Password";
}

<div class="section">
    <div class="page-header">
        Reset your password
    </div>
    <p>
        Enter your Email:
    </p>

    @using (Html.BeginForm("HandleForgotPass", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()
        //email
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }
</div>