<link rel="stylesheet" type="text/css" href="../Content/bootstrap.css"> <!-- Plugin Bootstrap -->
<link rel="stylesheet" type="text/css" href="../Content/uikit.css"> <!-- Plugin UIkit -->
<link rel="stylesheet" type="text/css" href="../Content/perfect-scrollbar.css">
<link rel="stylesheet" type="text/css" href="../Content/myCSS_chung.css">  <!-- CSS của riêng mình, có kèm OutSource -->

<link rel="stylesheet" href="../Content/jquery.m.flip.css" type="text/css" /> <!-- Plugin Flip Effect -->
<link rel="stylesheet" href="../Content/m.flip.css" type="text/css" />        <!-- Plugin Flip Effect -->
<!-- Bao toàn bộ phần 3 Cột Chia sự kiện -->
<div class="container-fluid">
    <div class="row d_bottom_3_column_container">
        <!-- Chứa thuộc tính khung chứa -->
        <!-- Chứa cột 1 -->
        <div class="col-md-4 text-center d_column">
            <h2>The First Column</h2>
            <div class="container-fluid d_card_container d_scrollbar_style">
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">
                    <div class="container-fluid d_event_basic_info">
                        <div class="d_thumb">
                            <img src="~/img/sukien1.jpg">
                        </div>
                        <!-- <div class="d_info_icon glyphicon glyphicon-font"></div> -->   <!-- có nên đưa Icon cho Title vào k? -->
                        <div class="d_info d_event_name">
                            [HN] "Lập Trình Di Động
                        </div>
                        <div class="d_event_time">
                            <div class="d_info_icon glyphicon glyphicon-time"></div>
                            <div class="d_info">
                                Từ 08:30 đến 16:30
                            </div>
                        </div>
                        <div class="d_event_date">
                            <div class="d_info_icon glyphicon glyphicon-calendar"></div>
                            <div class="d_info">
                                Ngày 26/09/2015
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
            </div>
        </div>
        <!-- Chứa cột 2 -->
        <div class="col-md-4 text-center d_column">
            <h2>The Second Column</h2>
            <div class="container-fluid d_card_container scrollbar d_scrollbar_style">
                <div class="d_each_event container-fluid">
                    <div class="container-fluid d_event_basic_info">
                        <div class="box m-flip">
                            <!--  -->
                            <div class="front"><img src="~/img/sukien2.jpg" class="d_thumb"></div>
                            <div class="back">
                                <img src="~/img/sukien2.jpg" class="d_thumb_blur">
                                <div class="d_btn_backside">

                                    <a href="#" data-toggle="tooltip" title="Follow">
                                        <div class="glyphicon glyphicon-star-empty" id="i_btn_bs_1"></div> <!-- bs: viết tắt của Backside -->
                                    </a>
                                    <a href="#" data-toggle="tooltip" title="Share">
                                        <div class="glyphicon glyphicon-share-alt" id="i_btn_bs_3"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="d_info_icon glyphicon glyphicon-font"></div> -->   <!-- có nên đưa Icon cho Title vào k? -->
                        <div class="d_info d_event_name">
                            [HN] "Lập Trình Di Động
                        </div>
                        <div class="d_event_time">
                            <div class="d_info_icon glyphicon glyphicon-time"></div>
                            <div class="d_info">
                                Từ 08:30 đến 16:30
                            </div>
                        </div>
                        <div class="d_event_date">
                            <div class="d_info_icon glyphicon glyphicon-calendar"></div>
                            <div class="d_info">
                                Ngày 26/09/2015
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
            </div>
        </div>
        <!-- Chứa cột 3 -->
        <div class="col-md-4 text-center d_column">
            <h2>The Third Column</h2>
            <div class="container-fluid d_card_container scrollbar d_scrollbar_style">
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
                <div class="d_each_event container-fluid">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- All script here -->
<script type="text/javascript" src="../Scripts/jquery-2.1.4.js"></script>    <!-- Default JQuery -->
<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>        <!-- Default Bootstrap, có Edited -->
<script type="text/javascript" src="../Scripts/super-smooth.js"></script>         <!-- Plugin làm mượt scroll -->
<script type="text/javascript" src="../Scripts/perfect-scrollbar.jquery.js"></script> <!-- Plugin thay Style Scrollbar -->

<script type="text/javascript" src="../Scripts/jquery.m.flip.js"></script> <!-- Plugin Flip Effect -->

<script type="text/javascript" src="../Scripts/uikit.js"></script> <!-- Plugin UIkit -->

<script type="text/javascript" src="../Scripts/myJS_chung.js"></script> <!-- JS của riêng mình, có kèm OutSource -->
<!-- <script type="text/javascript" src="../Scripts/myJS_test_script.js"></script> JS đang test -->