/* CSS riêng cho Top Menu */


li{
	list-style-type: none;
}

.d_topmenu_bg{
	border-radius: inherit;
	width: 100%;
}

#i_brand_website{
	font-size: 25px;
}

.d_brand_menu{
	top: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

#i_create_event{
	border: 1px white solid;
	border-radius: 6px;
}

#i_signin_btn{
	margin-left: 20px;
}

#i_avatar{
	height: 35px;
	width: 35px;
	border-radius: 3px;
	border: 1px white solid;
	margin: 7px 0px 7px 20px;
}

#i_noti{
    width: 20px;
    height: 20px;
    border: 1px red solid;
    background-color: red;
    position: relative;
    top: -47px;
    left: 40px;
    border-radius: 3px;
    text-align: center;
}

#i_noti p{
    color: white;
	font-size: 14px;
	margin-top: -1px;
	font-weight: bold;
}

.d_user_dropdown{
	width: auto; top: auto; left: 0px; margin-left: -70px; margin-top: 0px; min-width: 10em; max-width: 20em;
	padding-right: 10px;
	padding-left: 10px;
}

.d_recent_dropdown{
	width: auto; display: none; top: auto; left: 0px; margin-left: -171px; margin-top: -32px; min-width: 10em; max-width: 20em;
	padding-right: 10px;
	padding-left: 10px;
}



/* Sửa Bootstrap */
.glyphicon{
	color: black;
}

.btn-sm{
	margin-top: 7px;
    height: 35px;
}

@media (min-width: 768px){
	.navbar-right{
		height: 50px;
	}
}

.dropdown-header{
	margin-left: -10px;
	color: gray;
}

.d_quick_search{
	margin: 10px auto;
	width: 90%;
}

/* Plug-in khác */
.dropdown:hover .dropdown-menu {	/* Di chuột mở Menu, không cần click */
display: block;
}