/*********************************************** Thêm ***/

/*********************************************** Sửa Flip ***/
.flipper-container #flipper-inside>._flipper-back{
    padding: 5px;
}
/*********************************************** Sửa BxSlider ***/
.d_e_container .bx-prev{
    margin-right: 15px;
}
.bx-wrapper .bx-controls-direction a{
    top: 0;
    margin-top: -33px;
    margin-right: 5px;
    z-index: 1;
}
	.bx-controls-direction .bx-prev{		
    margin-right: 10px;		
}

/*********************************************** Sửa Bootstrap ***/
.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
body{
	overflow-x: hidden;
    overflow-y: scroll;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: transparent;
}
.table > tbody > tr > td {
    border:0;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline, .radio-inline, .checkbox-inline{
    margin-left: 0;
    margin-right:10px;
}
/*********************************************** Background ***/
video{
	height: auto;
	position: fixed;
	z-index: -1;
}

/*********************************************** Top Menu ***/
.d_navbar{				
	background-color: rgba(100, 200, 255, .8);				
	color: #fff;				
	border: 0px;				
}				
.d_navbar a{				
	color: #fff;				
}				
li{				
	list-style-type: none;				
}				
.d_topmenu_bg{				
	border-radius: inherit;				
	width: 100%;				
}				
#i_brand_website{				
	font-size: 25px;				
}				
#i_create_event{				
	border: 1px white solid;				
	border-radius: 6px;				
}				
#i_avatar{				
	height: 35px;				
	width: 35px;				
	border-radius: 3px;				
	border: 1px white solid;				
	margin: 7px 0px 7px 20px;				
}				
#i_noti{				
    width: 20px;				
    height: 20px;				
    border: 1px red solid;				
    background-color: red;				
    position: relative;				
    top: -47px;				
    left: 40px;				
    border-radius: 3px;				
    text-align: center;				
}				
#i_noti p{				
    color: white;				
	font-size: 14px;				
	margin-top: -1px;				
	font-weight: bold;				
}				
.d_user_dropdown{				
	width: auto; 		
    top: auto; 		
    left: 0px; 		
    margin-left: -70px; 		
    margin-top: 0px; 		
    min-width: 10em; 		
    max-width: 20em;				
	padding-right: 10px;				
	padding-left: 10px;				
}				
.d_recent_dropdown{				
	width: auto; 		
    display: none; 		
    top: auto; 		
    left: 0px; 		
    margin-left: -171px; 		
    margin-top: -32px; 		
    min-width: 10em; 		
    max-width: 20em;				
	padding-right: 10px;				
	padding-left: 10px;				
}

/*********************************************** Sửa Bootstrap */
.glyphicon{
	color: black;
}
.btn-sm{
	margin-top: 7px;
    height: 35px;
}
@media (min-width: 768px){
	.navbar-right{
		height: 50px;
	}
}
.dropdown-header{
	margin-left: -10px;
	color: gray;
}
.d_quick_search{
	margin: 10px auto;
	width: 90%;
}
/* Plug-in khác */


/*********************************************** MIDDLE Category ***/
.d_md_body{
	margin-top: 80px;
	font-family: segoe ui;
	color: #fff;
	background-color: transparent;
}
.d_mc_text_1,
.d_mc_text_2,
.d_mc_category{
	text-align: center;
}
.d_mc_text_1{
	font-size: 60px;
    font-weight: 800;
}

	.d_mc_text_1 span{		
    font-size: 90px;		
    font-weight: 800;		
    color: rgba(202,77,32,1);		
}
.d_mc_text_2{
	font-size: 20px;
	font-weight: lighter;
}
.d_mc_text_2 a,
.d_mc_text_2 a:hover{
	color: #fff
}
.d_mc_category{
	margin-top: 50px;
	margin-bottom: 180px;
}
.d_mc_category a{
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	background-color: rgba(202,77,32,1);
    border: 0;
}
.d_mc_category a:hover{
	color: #fff;
	background-color: rgba(230,89,38,);
}
    .d_mc_category a:focus {
        color: #fff;
        background-color: rgb(230, 89, 38);
    }
/*********************************************** Middle Category > Statistic for each button ***/
.d_popup_stat {
    color: black;
    left:-180px;
}
.d_stat_cover{
	zborder: 1px red solid;
	zbackground-color: lightgrey;
	height: 100px;
	width: 500px;
	display: flex;
}
.d_stat_new_event,
.d_stat_new_follower,
.d_stat_new_live,
.d_follow_cate{
	text-align: center;
	height: auto;
	width: 80%;
	border-right: 1px gray solid;
	background-color: #fff;
}
.d_follow_cate{
	border: 0px;
}
.d_data,
.d_data_name{
	width: 90%;
	margin-left: 5%;
	height: 20px;
	border: 0px red solid;
}
.d_data{
	margin-top: 5%;
	font-size: 30px;
	font-weight: bold;
}
.d_data_name{
	margin-top: 20%;
}
.d_follow_cate button{
	margin-top: 20%;
    background-color: rgba(202,77,32,1);		
    color: #fff;
}
.d_follow_cate button:hover{
    background-color: rgba(202,77,32,.8);
    color: #fff;
}
.d_follow_cate button:focus{
    background-color: rgba(202,77,32,.8);
    color: #fff;
}
.d_follow_cate button:active:hover,
.d_follow_cate button.active:hover,
.open > .dropdown-toggle.d_follow_cate button:hover,
.d_follow_cate button:active:focus,
.d_follow_cate button.active:focus,
.open > .dropdown-toggle.d_follow_cate button:focus,
.d_follow_cate button:active.focus,
.d_follow_cate button.active.focus,
.open > .dropdown-toggle.d_follow_cate button.focus {
  color: #fff;
  background-color: rgb(230, 89, 38);
}
.d_btn_follow{
    color: #fff;
}
.d_btn_follow .glyphicon{
    color: #fff;
    margin-right: 5px;
}
/*********************************************** d_big_row: các Hàng lớn chứa Sự kiện ngang ***/
.d_big_row {
    height: 200px;
    padding:5px;
    background-color: rgba(255, 255, 255, .7);
    margin-bottom: 20px;
}
.d_big_row .d_title{
    font-size: 20px;
    color: #F44336;
    padding: 0px 5px;
    margin-bottom: 5px;
}
.d_big_row .d_e_container{

    height: 163px;
}
/*********************************************** d_big_row > d_row_1 ***/
        .bxslider .d_each_event{		
    margin: 0;		
}		
.d_each_event{		
	height: 100px;		
	margin-bottom: 10px;		
}		
.d_each_event img{		
    width: 40%;		
    height: 100px;		
    float: left;		
}		
.d_live_text,		
.d_live_mark{		
    position: absolute;		
    font-size: 40px;		
}		
.d_live_mark .glyphicon{		
	color: #CE4919;		
}		
.d_live_text{		
    top: 10px;		
    left: 12px;		
	color: white;		
	font-size: 10px;		
	font-style: italic;		
}		
.d_ee_info{		
    width: 55%;		
    float: left;		
    margin-left: 2%;		
}		
.d_ee_info .d_title {		
    max-height: 60px;		
    height: 60px;		
    font-size: 16px;		
    overflow: hidden;		
}		
.d_ee_info .d_time_left,		
.d_ee_info .d_follow_no{		
    margin-left: 5px;		
}		
.d_ee_info .glyphicon{		
    margin-left: 5px;		
    float: left;		
    margin-right: 5px;		
}
	.d_ee_info .d_time_left,		
.d_ee_info .d_follow_no{		
    margin-left: 5px;		
}		
.d_ee_info .glyphicon{		
    margin-left: 5px;		
    float: left;		
    margin-right: 5px;		
}		

/*********************************************** Footer ***/
.d_footer{
    width: 125%;
    padding: 0px 2%;
	color: #fff;
	height: 150px;
    margin-left: -12.5%;
	background-color: #222;
}
.d_footer_column_1,
.d_footer_column_3{
	border-left: 1px gray dashed;
	border-right: 1px gray dashed;
	height: 80%;
	margin-top: 2%;
}
.d_footer_column_2{
	height: 80%;
	margin-top: 2%;	
}
/*********************************************** About ***/
/************************************ Tạm thời Không có About ***/
.d_about_body{
	border: 1px red solid;
}


.d_ft_footer{
	color: #fff;
	height: 350px;
	background-color: #222;
}
.d_ft_footer_column_1,
.d_ft_footer_column_3{
	border-left: 1px gray dashed;
	border-right: 1px gray dashed;
	height: 80%;
	margin-top: 2%;
}
.d_ft_footer_column_2{
	height: 80%;
	margin-top: 2%;	
}

/*********************************************** Decorate ***/
/*********************************************** Thêm ***/

/*********************************************** Thêm ***/

/*********************************************** Thêm ***/

