/* USER CREATE EVENT CSS */

/*************************************************** Sửa BOOTSTRAP ***/
.form-group {
    margin: 0;
}
/*************************************************** KHUNG ĐĂNG KÝ ***/		
.d_body{		
    width: 60%;		
    margin: 70px 0 0 20%;		
}		
#imageView img{		
    width: 100%;
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
     

/*** Sửa plugin khác ***/

#editor {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    padding: 5px;
    width: 100%;
}

.nav { margin-bottom: 0px; }

.btn-group { margin-bottom: 5px; }

.btn-group .dropdown-menu { width: 300px; }

.btn-group .dropdown-menu .span2 {
    float: left;
    height: 34px;
    margin-left: 10px;
    width: 229px;
}
