/*********************************************** Thêm ***/
	.body-content{
	    top: 0;
	    position: absolute;		
    margin: 0 10% 0 10%;				
    width: 80%;				
    padding: 70px 1% 0 1%;				
}				
.d_white_bg{
    top: 0;			
    z-index: -1;				
    position: fixed;				
    width: 80%;				
    margin-left: 10%;				
    background-color: #fff;				
    height: 100%;				
}		
.scroll-content {		
overflow: auto; /* This is changed by enscroll, but must be defined */		
width: 100%;   /* The arbitrary width and height of the view pane */		
}		
.vertical-track {		
width: 10px;            /* How wide is the scrollbar going to be? */		
background-color: #aaa; /* What color should the vertical track be? */		
    border-radius: 10px;
}		
.vertical-handle {		
width: 10px;            /* How wide is the scrollbar handle? */		
background-color: rgba(202,77,32,1); /* What color should the handle be? */
    border-radius: 10px;
}		

/*********************************************** Sửa Bootstrap ***/
	body{		
    background: #eee;		
}
	body .navbar-header{		
    margin-top:5px;		
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
		.modal-backdrop.in { z-index: 20; }				
.modal-dialog{				
    margin: 0 auto;				
    margin-top: 65px;				
}				
#i_md_ad_search .panel-body {				
    padding: 10px 15px;				
}		
.dropdown-menu{		
    margin: 0;		
}

/*********************************************** Background ***/

video {
    height: auto;
    position: fixed;
    z-index: -1;
}

/*********************************************** Top Menu ***/

li { list-style-type: none; }

.d_topmenu_bg {
    border-radius: inherit;
    width: 100%;
     background-color: #E65926;
}
.d_topmenu_bg .navbar-nav > li > a{		
    background-color: transparent;		
    color: #fff;		
}		
.d_topmenu_bg .navbar-nav > li > a:hover{		
    background-color: rgba(202,77,32,1);		
    color: #fff;		
}		
/**************************************************** Common Style & Decorate CSS ***/		
.d_style_of_tabs{		
    padding: 0;		
}		
.d_style_of_tabs > .nav-tabs{		
    margin-bottom: 10px;		
}		
.d_style_of_tabs .nav-tabs > li.active > a,		
.d_style_of_tabs .nav-tabs > li.active > a:hover,		
.d_style_of_tabs .nav-tabs > li.active > a:focus{		
    border: 0px;		
    background: transparent;		
}		
.d_style_of_tabs .nav-tabs > li > a{		
    background-color: transparent;		
    border: 0px;		
    color: rgba(255, 68, 0, .6);		
}.d_style_of_tabs .nav-tabs > li > a:hover{		
     background-color: transparent;		
    border: 0px;		
    color: rgba(255, 68, 0, .8);		
}		
/******************************************************** Style of Modal ***/		
.modal .panel{		
    border: 0;		
}		
.modal .panel-info > .panel-heading{		
    color: #FFFFFF;		
    font-weight: 600;		
    background-color: rgb(197, 74, 30);		
    border-color: #FFFFFF;		
}		
.modal .panel-body{		
    background-color: #fff;		
}
.modal .d_md_content {
    background-color: #fff;
    padding: 10px;
}
#i_brand_website { font-size: 25px; }
	#i_brand {		
    color: white;		
    font-size: 25px;		
    font-variant: small-caps;		
    margin-top: 30px;		
}		
#i_brand:focus,		
#i_brand:hover{		
    text-decoration:none;		
}		
#i_drdn_cate {		
    margin: 0 10px;		
}
.d_brand_menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 10px;
}
	/*********************************************** Top Menu >> Search box ***/				
.d_search_group #Keyword{
    width: 250px;
    border-radius: 5px;
    margin-right: 10px;
}
.d_search_group .btn{
    background-color: transparent;
    border: 0;
}
.d_search_group .btn:hover{
    background-color: transparent;
    border: 0;
}
.d_search_group .btn:focus{
    background-color: transparent;
    border: 0;
}
.d_search_group .btn .glyphicon{
    color: #fff;
        font-size: larger;
}
#i_md_ad_search{		
    border-radius: 0;		
}				
/*********************************************** Top Menu >> Create Button ***/				
/*********************************************** Top Menu >> Create Button ***/		
.d_topmenu_bg .d_btn_create{
    background-color: #fff;
    color: rgba(202,77,32,1);
    font-size: medium;
}
.d_topmenu_bg .d_btn_create .glyphicon{
    color: rgba(202,77,32,1);
}
/*********************************************** Top Menu >> SignIn/SignUp btn ***/
#i_signin_btn { 
    margin: 0px 20px; 
}
.d_btn_create {				
    border: 0;				
    font-size: medium;				
    background-color: rgb(230, 89, 38);				
    color: #fff;				
}				
.d_btn_create:hover {				
    background-color: rgba(202,77,32,1);				
    color: #fff;				
}				
.d_btn_create:focus {				
    background-color: rgba(202,77,32,1);				
    color: #fff;				
}				
.d_btn_create:active:hover,				
.d_btn_create.active:hover,				
.open > .dropdown-toggle.d_btn_create:hover,				
.d_btn_createactive:focus,				
.d_btn_create.active:focus,				
.open > .dropdown-toggle.d_btn_create:focus,				
.d_btn_create:active.focus,				
.d_btn_create.active.focus,				
.open > .dropdown-toggle.d_btn_create.focus {				
  color: #fff;				
  background-color: rgba(202,77,32,1);				
}				
.d_btn_create .glyphicon{				
    color: #fff;				
}
#i_create_event {
    border: 1px white solid;
    border-radius: 6px;
}


#i_avatar {
    border: 1px white solid;
    border-radius: 3px;
    height: 35px;
    margin: 7px 0px 7px 20px;
    width: 35px;
}

#i_noti {
    background-color: red;
    border: 1px red solid;
    border-radius: 3px;
    height: 20px;
    left: 40px;
    position: relative;
    text-align: center;
    top: -47px;
    width: 20px;
}

#i_noti p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-top: -1px;
}

.d_user_dropdown {
    left: 0px;
    margin-left: -70px;
    margin-top: 0px;
    max-width: 23em;
    min-width: 10em;
    padding-left: 10px;
    padding-right: 10px;
    top: auto;
    width: auto;
}

.d_recent_dropdown {
    display: none;
    left: 0px;
    margin-left: -171px;
    margin-top: -32px;
    max-width: 20em;
    min-width: 10em;
    padding-left: 10px;
    padding-right: 10px;
    top: auto;
    width: auto;
}
/* Chung */		/*********************************************** Sửa Bootstrap */
.d_drop_user,		
.d_drop_cate {		
    position: fixed;		
    background-color: #fff;		
    border-bottom-left-radius: 5px;		
    border-bottom-right-radius: 5px;		
    border-bottom: 0;		
    margin-left: 0px;		
    width: 200px;		
    padding: 0 25px;		
    top: 51px;
    display: none;
}		
#i_drdn_cate:hover .d_drop_cate {
    display: block;
}
#i_drdn_user:hover .d_drop_user {
    display: block;
}
.d_drop_user li,		
.d_drop_cate li {		
    margin: 15px 0;		
}		
.d_drop_user li a,		
.d_drop_cate li a{		
    color: rgb(230, 89, 38);		
    text-decoration: none;		
}		
.d_drop_cate li a:hover{		
    color: rgba(202,77,32,1);		
    text-decoration: none;		
}		
.d_drop_user{		
    right: 0;		
    width: 130px;		
    margin-right: 5px;		
}

/*********************************************** Sửa Bootstrap */

.glyphicon { color: black; }

.btn-sm {
    height: 35px;
    margin-top: 7px;
}

@media (min-width: 768px) {
    .navbar-right { height: 50px; }
}

.dropdown-header {
    color: gray;
    margin-left: -10px;
}

.d_quick_search {
    margin: 10px auto;
    width: 90%;
}

/* Plug-in khác */

.dropdown:hover .dropdown-menu { /* Di chuột mở Menu, không cần click */
    display: block;
}

/*********************************************** MIDDLE Category ***/



/*********************************************** Middle Category > Statistic for each button ***/


/*********************************************** d_3_column ***/


/*********************************************** d_3_column >> each_event***/



/*********************************************** About ***/


/*********************************************** MODAL Advanced Search ***/
#i_md_ad_search .model-dialog {
    width: 50%;
}
#i_md_ad_search .panel-body {		
    padding: 0 15px;		
}		
#i_md_ad_search .table-bordered{		
    border: 0;		
}
.d_md_ad_search {
    width: 100%;
    text-align: center;
}
.d_md_ad_search #i_btn_search .glyphicon{
    color: #fff;
    margin-right: 5px;
}

/*********************************************** MODAL Sign In Sign Up ***/
#btn-fblogin{
    background-color: #dd4b39;
    color: white;
}
 #btn-fblogin:hover{
    background-color: #CC4534;
    color: white;
}
.checkbox{
    left: 20px;
}
.d_agree_policy .checkbox {
    left: 0;
}
#i_first_name,
#i_last_name{
	margin-bottom: 10px;
}
#i_frame_md_ad_search {
    height: 444px;
    width: 100%;
}

.d_md_ad_search { float: right;text-align: center; }

    .d_md_ad_search #i_btn_search .glyphicon {
        color: #fff;
        margin-right: 5px;
    }

/*********************************************** MODAL Sign In Sign Up ***/
#myModal2 .panel-body {
    padding: 10px;
    background-color: whitesmoke;
}
#i_frame_signin { height: 415px; }

#i_first_name,
#i_last_name { margin-bottom: 10px; }
#myModal2 .d_my_function_cover {		
    background-color: white;		
    border-bottom-left-radius: 4px;		
    border-top-right-radius: 4px;		
    border: 1px solid #DDDDDD;		
    border-top: 0;		
}		
#btn-fblogin{		
    background-color: #dd4b39;		
    color: white;		
}		
 #btn-fblogin:hover{		
    background-color: #CC4534;		
    color: white;		
}		
.checkbox{		
    left: 20px;		
}		
.d_agree_policy .checkbox {		
    left: 0;		
}

/*********************************************** Decorate ***/

/*********************************************** Thêm ***/

.modal-backdrop.in { z-index: 20; }

/*********************************************** Thêm ***/

/*********************************************** Thêm ***/

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

.field-validation-error { color: red; }
.full-screen-bg {
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
.fullscreen-bg__video {
    top: 0;
    left: 0;
    min-width: inherit;
    min-height: inherit;
}