@using EventZone.Models
@{
    var listEvent = Session["listEvent"] as List<ViewThumbEventModel>;
    var listLiveStream = Session["listLiveStream"] as List<ViewThumbEventModel>;
    var listUser = Session["listUser"] as List<ViewThumbUserModel>;
    var task = TempData["task"];
    ViewBag.Title = TempData["task"];
    var tab = "-1";
    try
    {
        tab = TempData["TabSearch"].ToString();
    }
    catch { };
    
    
    int listUserCount, listLiveStreamCount, listEventCount;
    if (listUser == null)
    {
        listUserCount = 0;
    }
    else
    {
        listUserCount = listUser.Count;
    }
    if (listLiveStream == null)
    {
        listLiveStreamCount = 0;
    }
    else
    {
        listLiveStreamCount = listLiveStream.Count;
    }
    if (listEvent == null)
    {
        listEventCount = 0;
    }
    else
    {
        listEventCount = listEvent.Count;
    }
}
<link href="~/Content/myCSS_s_r.css" rel="stylesheet" />

<table class="d_table d_3_tabs">
    <tbody>
        <tr>
            <td>
            </td>
            <td class="d_item">Event (@listEventCount)</td>
        </tr>
        <tr>
            <td id="i_open">
                <span class="glyphicon glyphicon-menu-left"></span>
            </td>
            <td class="d_item">Live Streaming (@listLiveStreamCount)</td>
        </tr>
        <tr>
            <td></td>
            <td class="d_item">User (@listUserCount)</td>
        </tr>
    </tbody>
</table>

<div class="d_result_container scroll-content">

    @Html.Action("LoadEventInPage", "Search", new { page = 1, type = 1 });
</div>

<!-- myJS -->
<script src="~/Scripts/myJS_s_r.js"></script>

<!-- Plugin Animation -->
<script src="~/Scripts/jquery.transit.min.js"></script>