@model EventZone.Models.CommentViewModel
@using EventZone.Models
@{
    ViewBag.Title = "_CommentPartial";
    User user = Session["User"] as User;
}
<div role="tabpanel" class="tab-pane active" id="i_comment">
    <div class="container-fluid d_cmt_content_cover">
        @if (Model.listComment != null && Model.listComment.Count != 0)
        {
            foreach (var item in Model.listComment)
            {
                @Html.ActionLink(item.User.UserName, "Detail", "User", new { id = @item.UserID }, null) <span>: @item.CommentContent</span>
                <br>
            }
        }
    </div>
    <div class="d_cmt_box_btn">
        <input id="i_cmt_box" type="text" placeholder="Enter your comment~." />
        <input id="i_send_btn" type="button" value="Send" />
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
<script>
    $(document).ready(function () {
        $("#i_send_btn").click(function () {
            @if (user == null) {
            <text>
            alert('Require Signin :((');
            </text>
           }
           else {
                <text>
            if (false) {
                alert('Please enter your comment' + $('#i_cmt_box').val());
            } else {
                $.ajax({
                    type: "post",
                    url: "/Event/Comment",
                    dataType: 'html',
                    cache: false,
                    data: { eventID: parseInt('@Model.eventID'), commentContent: $("#i_cmt_box").val() },
                    success: function (data) {
<<<<<<< HEAD
=======
                        console.log(data);
>>>>>>> 784d6a9fb062d6b9a29736b2d24ab4e3d46cdd1b
                        $("#comment-content").html("");
                        $("#comment-content").append(data);
                    },
                    error: function () {
                        alert('Error while request..');
                    }
                })
            }
            </text>
           }
        });
    })

</script>
