@using EventZone.Models
@model IEnumerable<Comment>
@{
    ViewBag.Title = "_CommentPartial";
    var user = Session["User"] as User;
}
<div role="tabpanel" class="tab-pane active" id="i_comment">
    <div class="container-fluid d_cmt_content_cover">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <input type="hidden" id="eventId" value="@item.EventID">
                @Html.ActionLink(item.User.UserName, "Detail", "User", new {id = @item.UserID}, null)
                <span>: @item.CommentContent</span>
                <br>
            }
        }
    </div>
    <div class="d_cmt_box_btn">
        <input id="i_cmt_box" type="textbox" placeholder="Enter your comment~."/>
        <input id="i_send_btn" type="button" value="Send"/>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#i_cmt_box").click(function() {
            @if (user == null)
            {
                <text>
            alert('Require Signin :((');
            </text>
            }
            else
            {
                <text>
            $.ajax({
                type: "post",
                url: "/Event/Comment",
                cache: false,
                data: { EventId: parseFloat($("#eventId").text()), CommentContent: $("#i_cmt_box").text() },
                success: function (data) {
                },
                error: function () {
                    alert('Error while request..');
                }
            })
            </text>
            }
        });
    })


</script>