@model EventZone.Models.BasicSearch

@using (Html.BeginForm("BasicSearch", "Search", FormMethod.Post, new {@class = "navbar-form navbar-left"}))
{
    <div class="input-group" style="width: 100px;">
        <input type="text" name="Keyword" id="Keyword" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Search for event, channel or user" style="width: 250px;">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="modal" data-target="#myModal">
                <a href="#" id="i_advanced_search">
                    <span class="glyphicon glyphicon-chevron-down"></span></a>
            </button>
        </div>
    </div>
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal 1 content: Advanced Search -->
        <div class="panel panel-info d_margin_top">
            <div class="panel-heading">
                <div class="panel-title">Advanced Search</div>
                <div style="float: right; font-size: 80%; position: relative; top: -17px">
                    <a href="#" data-dismiss="modal" id="i_close_modal">Close</a>
                </div>
            </div>
            <div style="padding-top: 10px" class="panel-body">
                <!-- md_ đánh dấu CSS của MODAL -->
                @Html.Action("SearchAdvance", "Search", new {@id = "i_frame_md_ad_search"})
            </div>
        </div>
    </div>
</div>