@model IEnumerable<EventZone.Models.Image>

<div class="container-fluid d_image_cover">
    <div class="container-fluid d_thumbs_image_cover">
        <p class="d_deco_text_location">Common gallery</p>
        <div class="d_each_group d_thumb_common_gallery">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-3 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="@item.ImageLink">
                        </a>
                    </div>
                }

            }
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-3 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="@item.ImageLink">
                        </a>
                    </div>
                }

            }
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-3 col-xs-4 thumb">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="@item.ImageLink">
                        </a>
                    </div>
                }

            }
        </div>
    </div>
</div>