@model IEnumerable<EventZone.Models.ThumbEventHomePage>
@using EventZone.Helpers
@using EventZone.Models
@{
    User user = UserHelpers.GetCurrentUser(Session);    

}

@if (Model != null)
{
    <div class="bxslider">
        @foreach (var item in Model)
        {

        <!-- ee_ đánh dấu file Each_Event.html -->

            <div class="d_each_event">
                                <img src="@item.avatar">
                                @if (EventDatabaseHelper.Instance.isLive(@item.EventID))
                                {
                                    <div class="d_live_mark">
                                        <span class="glyphicon glyphicon-bookmark"></span>
                                    </div>
                                 <div class="d_live_text">
                                    Live
                                </div>
                                }
                                <div class="d_ee_info">
                                    <div class="d_title">
                                        @Html.ActionLink(@item.EventName, "Details", "Event", new {id = item.EventID}, null)
                                    </div>
                                    <div class="d_time_left">
                                        <div class="glyphicon glyphicon-time"></div>
                                        <div class="d_short_des d_time_left">
                                            2 days left
                                        </div>
                                    </div>
                                    <div class="d_follow_no">
                                        <div class="glyphicon glyphicon-user"></div>
                                        <div class="d_short_des d_follow_no">
                                            Followed: 123
                                        </div>
                                    </div>
                                </div>
            </div>
        }
    </div>
    }



